<h1><%= @veterinarian.name %></h1>

<p>Name: <%= @veterinarian.name %></p>
<p>Phone: <%= @veterinarian.phone %></p>
<p>Email: <%= @veterinarian.email %></p>
<p>Address: <%= @veterinarian.address %></p>

<p><a href="/veterinarians/<%= @veterinarian.id %>/edit">Edit</a></p>
<p><a href="/veterinarians/<%= @veterinarian.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/veterinarians">Return to Veterinarians list</a></p>