<h1><%= @pet.name %></h1>

<p>Name: <%= @pet.name %></p>
<p>Age: <%= @pet.age %></p>
<p>Weight: <%= @pet.weight %> lbs.</p>
<p>Kind: <%= @pet.kind %></p>

<p><a href="/pets/<%= @pet.id %>/edit">Edit</a></p>
<p><a href="/pets/<%= @pet.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/pets">Return to Pets list</a></p>